{% extends 'base.html.twig' %}

{% block title %}Wagon{% endblock %}

{% block body %}
    <h1>Wagon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wagon.id }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ wagon.class }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ wagon.type }}</td>
            </tr>
            <tr>
                <th>PlaceNb</th>
                <td>{{ wagon.placeNb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wagon_index') }}">back to list</a>

    <a href="{{ path('wagon_edit', {'id': wagon.id}) }}">edit</a>

    {{ include('Front/wagon/_delete_form.html.twig') }}
{% endblock %}
