{% extends 'base_back.html.twig' %}

{% block title %}Train index{% endblock %}

{% block body %}
    <h1>Train index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for train in trains %}
            <tr>
                <td>{{ train.id }}</td>
                <td>{{ train.name }}</td>
                <td>{{ train.description }}</td>
                <td>
                    <div class="row">
                        <div class="valign-wrapper">
                                <div class="col">
                                    <a href="{{ path('admin_train_show', {'id': train.id}) }}"><button class="btn">Voir</button></a>
                                </div>
                                <div class="col">
                                    <form method="post" action="{{ path('admin_train_edit', {'id': train.id}) }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ train.id) }}">
                                        <button class="btn">Modifier</button>
                                    </form>
                                </div>
                                <div>
                                    <form method="post" action="{{ path('admin_train_delete', {'id': train.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ train.id) }}">
                                        <button class="btn">Supprimer</button>
                                    </form>
                                </div>
                        </div>
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun train existant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="row" id="nouveau-train" href="{{ path('admin_train_new') }}"><button class="btn">Nouveau train</button></a>
{% endblock %}
