{% extends 'base_back.html.twig' %}

{% block title %}Wagon{% endblock %}

{% block body %}
    <h1>Wagon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wagon.id }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ wagon.class }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ wagon.type }}</td>
            </tr>
            <tr>
                <th>PlaceNb</th>
                <td>{{ wagon.placeNb }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="{{ path('wagon_edit', {'id': wagon.id}) }}"><button class="btn">Modifier</button></a>

    <hr>
    <h4>Option</h4>
    {% if wagon.options is not null %}
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Description</th>
            </thead>
            <tbody>
            {% for option in wagon.options%}
                <td>{{ option.id }}</td>
                <td>{{ option.name }}</td>
                <td>{{ option.type }}</td>
                <td>{{ option.price }}</td>
                <td>{{ option.description }}</td>

            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if wagon.options is null %}
        <p>Aucune option liée au wagon</p>
    {% endif %}
    <br>
    <a href="{{ path('wagon_index') }}"><button class="btn">Retour</button></a>

{% endblock %}
