{% extends 'base.html.twig' %}

{% block title %}Option{% endblock %}

{% block body %}
    <h1>Option</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ option.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ option.name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ option.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ option.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ option.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('option_index') }}">back to list</a>

    <a href="{{ path('option_edit', {'id': option.id}) }}">edit</a>

    {{ include('Front/option/_delete_form.html.twig') }}
{% endblock %}
