{% extends 'base.html.twig' %}

{% block title %}Train index{% endblock %}

{% block body %}
    <h1>Train index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for train in trains %}
            <tr>
                <td>{{ train.id }}</td>
                <td>{{ train.name }}</td>
                <td>{{ train.description }}</td>
                <td>
                    <a href="{{ path('train_show', {'id': train.id}) }}">show</a>
                    <a href="{{ path('train_edit', {'id': train.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('train_new') }}">Create new</a>
{% endblock %}
